<a href="https://colab.research.google.com/github/mikiemac1975/GIS_COURSE_Michelle/blob/master/Comparing_datasets_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Welcome to your Python notebook##
Firstly, we need to import the tool that you will need to allow Python to pull the information from your files.

Tool - <font color='blue'> Pandas </font>

In [0]:
import pandas as pd

Next, upload the dataset containing the information you will use to create your map. Give it a name - In this case, ours are called gender_dataset and gender_dataset_2.

By entering the command <font color='red'>pd.read_csv </font>, you are asking the notebook to read the file using the <font color='blue'>pandas </font> tool you have just imported.  As you can see from the URL, I have uploaded the datasets from my Github account.

By adding the command <font color='red'>.head()</font> on the second line of this section of code, you are able to view the first few lines of the dataset in the notebook.

In [5]:
gender_dataset = pd.read_csv('https://raw.githubusercontent.com/mikiemac1975/GIS_COURSE_Michelle/master/Gender%20dataset.csv')
gender_dataset.head()

  Cat_No  Trench  Context  ... Rim diameter (cm) Height (cm) Diameter (cm)
0  B0019     1.0  surface  ...               NaN         1.8           NaN
1  B0051     1.0  surface  ...               NaN         2.5           NaN
2  B0161     1.0  surface  ...               NaN         NaN           NaN
3  E0217     1.0  surface  ...               NaN         NaN           NaN
4  B0035     1.0      NaN  ...               NaN         1.7           NaN

[5 rows x 17 columns]

In [6]:
gender_dataset_2 = pd.read_csv('https://raw.githubusercontent.com/mikiemac1975/GIS_COURSE_Michelle/master/Gender%20dataset%202.csv')
gender_dataset_2.head()

   TRENCH    X_COORD     Y_COORD  PERIMETER   AREA  TRENCH_OLD
0     1.0 -346.46875  1666.15527     6.9006  3.996           1
1     2.0 -347.96875  1835.67236     5.7005  2.484           2
2     3.0  391.70972  2471.73462     7.8007  5.626           3
3     4.0  198.00000  3220.79932     2.5600  9.600           4
4     6.0  313.00000  3238.79932     2.2800  1.040           6

Now we need to amalgamate the files into one file.  I have renamed the combined files as all_data.

In [15]:
all_data = pd.concat([gender_dataset,gender_dataset_2], sort=False, ignore_index=True)
all_data.head()

  Cat_No  Trench  Context  ... PERIMETER AREA TRENCH_OLD
0  B0019     1.0  surface  ...       NaN  NaN        NaN
1  B0051     1.0  surface  ...       NaN  NaN        NaN
2  B0161     1.0  surface  ...       NaN  NaN        NaN
3  E0217     1.0  surface  ...       NaN  NaN        NaN
4  B0035     1.0      NaN  ...       NaN  NaN        NaN

[5 rows x 23 columns]

Now we need to import the tool which will allow this data to be transformed into a map.

Tool - <font color='blue'>matplotlib </font>

In [0]:
import matplotlib